/*css default*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.flex {
    display: flex;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

/*header*/

.menu {
    font-size: 15px;
    width: 1900px;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    background-color: #ff6900;
}

.link a {
    font-weight: 600;
    margin: 1rem;
    color: white;
}

.logo {
    padding: 0.3%;
    margin-right: 120px;
    width: 140px;
    height: 40px;
}

.logo img {
    width: 100%;
}

.icon {
    padding: 10px 15px;
    border-radius: 30px;
    font-weight: 600;
    color: white;
    letter-spacing: 0.3rem;
}

/*/header*/

/*main*/

.cards {
    width: 1600px;
    margin: auto;
    justify-content: center;
    background-color: goldenrod;
}

.model {
    width: 500px;
    height: 700px;
    padding: 2%;
}

.img {
    width: 100%;
}

.levisfit {
    position: relative;
}

#levisfitbehind {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.levisfit:hover #levisfitbehind {
    opacity: 1;
}

.sale {
    position: relative;
    bottom: 100px;
    right: 0px;
}

.sale:first-of-type {
    background-color: red;
}

.sale:last-of-type {
    background-color: green;
}

i {
    position: relative;
    left: 270px;
    bottom: 618px;
    color: black;
}

.levisfit:hover .fa-heart {
    color: red;
}

.pricelevis{
    margin-top: -25px;
}

.pricelevis > span{
    color: red;
    font-weight: 600;
}


/*/main*/


/*footer*/


/*/footer*/